* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
input {
	outline: 1px solid black;
	border: 1px solid black;
}
table, th, td {
	text-align: center;
	border: 1px solid black;
  }
  tr:nth-child(even) {
	background-color: #D6EEEE;
  }